*{box-sizing: border-box;}

body {
    font-size: 16px;
    font-family: 'Raleway N';
    color: #39383e;
    margin : 50px;
    background: #FAFAFF;
    background-image: url("bg.png");
    background-repeat: no-repeat;
    background-position: bottom right;
    background-attachment: fixed;
    line-height: 1.6;
}
h5{
    font-size: 18px;
    font-weight: 300 ;
    font-family: 'Raleway M';
    color: #312B6A;
    padding-bottom: 0px;
}
h1{
    font-size:32px;
    font-weight: 800;
    color: black;
    font-family:'Poppins L';
}
h2, h3, h4{
    font-size: 18px;
    font-weight: 500 ;
    font-family: 'Poppins SB';
    color: #312B6A;
}

span{
    padding: 0px;
}
#sidebar{
    width :20%;
    height: 100%;
    position: absolute;
    left: 0px;
    top:0px;
    bottom: 0px;
    text-align: left;
    padding-top:30px;
    padding-left:2%;
    padding-right:2%;
    font-family: 'Poppins L';
    display: inline-block;
    background-color: white;
    box-shadow: 0px 0px 16px lightgray;
    border-top-right-radius: 1cm;
    border-bottom-right-radius: 1cm;
    box-sizing: border-box;   
}
#side{
    width : 80%;
    height: 100%;
    position:absolute;
    left: 20%;
    top: 0%;
    text-align: left;
    padding: 40px;
    display: inline-block;
    overflow: auto;
    box-sizing: border-box;
}
span:active , div:active{
    color: #312B6A;
}

#tab2 , #tab2:link , #tab2:visited {
    position: relative;
    color:#7A778B;
    width:100%;
    height:40px;
    display: inline-block;
    margin:5px;
    font-family: 'Poppins R';
}

#tab2:hover , #tab2:active{
    position: relative;
    background: #E7E7FF;
	border-radius: 5px;
    display: inline-block;
    font-family: 'Poppins L';

}

#tab{
    position:absolute;
    top:10px;
    left:10px;
    color:#7A778B;
}

#ptab{
    position:absolute;
    top:10px;
    left:10px;
    color:#5F5B85;
}

#insta , #insta:link , #insta:active , #insta:visited , #insta:hover{
    color:#312B6A;
}

#strip{
    position:absolute;
    left:0px;
    width:100%;
    display: inline-block;

}

#tab3{
    color:#7A778B;
    
}

#tab1{
    position: absolute;
    top: -2px;
    font-size:16px;
}

#tab4{
    color:#7A778B;
    
    
    font-size:18px;
}

#saree{
    position: absolute;
    left:80px;
    top:180px;
    display: inline-block;
}

#dupatta{
    position: absolute;
    left:350px;
    top:180px;
    display: inline-block;
}

#kurta{
    position: absolute;
    left:80px;
    top:450px;
    display: inline-block;
}

#ethnic{
    position: absolute;
    left:350px;
    top:450px;
    display: inline-block;
}

h1#owncat{
    position:absolute;
    left:1200px;
    top:150px;
    display: inline-block;
    font-size:36px;
}

div#owncat{
    position:absolute;
    left:1130px;
    top:230px;
    width:205px;
    line-height: 1.687;
    color:#2A2A2A;
    font-size:16px;
    display: inline-block;
}

img#owncat{
    position:absolute;
    left:1190px;
    top:310px;
    display: inline-block;

}

@font-face {
    font-family: "PoppinsI";
    src: url('fontstyle/Poppins-BlackItalic.woff2') format('woff2'),
        url('fontstyle/Poppins-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins B';
    src: url('fontstyle/Poppins-Black.woff2') format('woff2'),
        url('fontstyle/Poppins-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins EB';
    src: url('fontstyle/Poppins-ExtraBold.woff2') format('woff2'),
        url('fontstyle/Poppins-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins R';
    src: url('fontstyle/Poppins-Regular.woff2') format('woff2'),
        url('fontstyle/Poppins-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins M';
    src: url('fontstyle/Poppins-Medium.woff2') format('woff2'),
        url('fontstyle/Poppins-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins L';
    src: url('fontstyle/Poppins-Light.woff2') format('woff2'),
        url('fontstyle/Poppins-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins EL';
    src: url('fontstyle/Poppins-ExtraLight.woff2') format('woff2'),
        url('fontstyle/Poppins-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Poppins SB';
    src: url('fontstyle/Poppins-SemiBold.woff2') format('woff2'),
        url('fontstyle/Poppins-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Poppins T';
    src: url('fontstyle/Poppins-Thin.woff2') format('woff2'),
        url('fontstyle/Poppins-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway EL';
    src: url('fontstyle/Raleway-ExtraLight.woff2') format('woff2'),
        url('fontstyle/Raleway-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Raleway B';
    src: url('fontstyle/Raleway-Bold.woff2') format('woff2'),
        url('fontstyle/Raleway-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway L';
    src: url('fontstyle/Raleway-Light.woff2') format('woff2'),
        url('fontstyle/Raleway-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway EB';
    src: url('fontstyle/Raleway-ExtraBold.woff2') format('woff2'),
        url('fontstyle/Raleway-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway ET';
    src: url('fontstyle/Raleway-Thin.woff2') format('woff2'),
        url('fontstyle/Raleway-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway SB';
    src: url('fontstyle/Raleway-SemiBold.woff2') format('woff2'),
        url('fontstyle/Raleway-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway N';
    src: url('fontstyle/Raleway.woff2') format('woff2'),
        url('fontstyle/Raleway.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway M';
    src: url('fontstyle/Raleway-Medium.woff2') format('woff2'),
        url('fontstyle/Raleway-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
