*{box-sizing: border-box;}

@font-face {
    font-family: 'poppinsregular';
    src: url('poppins-regular.woff2') format('woff2'),
         url('poppins-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    font-size: 16px;
    font-family: Verdana, Tahoma, sans-serif;
    font-stretch: extra-expanded;
    color: #7A778B;
    margin : 50px;
    background: #FAFAFF;
    background-image: url("bg.png");
    background-repeat: no-repeat;
    background-position: bottom right;
    background-attachment: fixed;
}
h5{
    font-size: 16px;
    font-weight: 300 ;
    font-family: Verdana, Tahoma, sans-serif;
    color: #312B6A;
    padding-bottom: 0px;
}
h1{
    font-size:32px;
    font-weight: 900;
    color: black;
    font-family:Verdana, Tahoma, sans-serif;
}
h2, h3, h4{
    font-size: 18px;
    font-weight: 500 ;
    font-family: Verdana, Tahoma, sans-serif;
    color: #312B6A;
}
span{
    padding: 0px;
}
span:active , div:active{
    font-family:Verdana, Tahoma, sans-serif;
    color: #312B6A;
}

#tab2 , #tab2:link , #tab2:visited {
    position: relative;
    color:#7A778B;
    width:100%;
    height:40px;
    display: inline-block;
    margin:5px;
}

#tab2:hover , #tab2:active{
    position: relative;
    background: #E7E7FF;
	border-radius: 5px;
    display: inline-block;

}

#tab{
    position:absolute;
    top:10px;
    left:10px;
    color:#7A778B;
}

#ptab{
    position:absolute;
    top:10px;
    left:10px;
    color:#5F5B85;
}

#insta , #insta:link , #insta:active , #insta:visited , #insta:hover{
    color:#312B6A;
}

#strip{
    position:absolute;
    left:0px;
    width:100%;
    display: inline-block;

}

#tab3{
    color:#7A778B;
    
}

#tab1{
    font-family: 'poppinsregular';
    
    font-size:18px;
}

#tab4{
    color:#7A778B;
    
    
    font-size:18px;
}

#saree{
    position: absolute;
    left:80px;
    top:80px;
    display: inline-block;
}

#dupatta{
    position: absolute;
    left:350px;
    top:80px;
    display: inline-block;
}

#kurta{
    position: absolute;
    left:80px;
    top:350px;
    display: inline-block;
}

#ethnic{
    position: absolute;
    left:350px;
    top:350px;
    display: inline-block;
}

h1#owncat{
    position:absolute;
    left:1200px;
    top:150px;
    display: inline-block;
    
    font-size:36px;
}

div#owncat{
    position:absolute;
    left:1130px;
    top:230px;
    width:205px;
    line-height: 1.687;
    color:#2A2A2A;
    
    font-size:16px;
    display: inline-block;
}

img#owncat{
    position:absolute;
    left:1190px;
    top:310px;
    display: inline-block;

}